<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adityanarayan.tollpay">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.adityanarayan.tollpay.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.adityanarayan.tollpay.PaymentActivity" />
        <activity android:name="com.example.adityanarayan.tollpay.ProfileActivity"/>
        <activity android:name="com.example.adityanarayan.tollpay.TransactionActivity"/>
        <activity android:name="com.example.adityanarayan.tollpay.AddVehicle.NewVehicleActivity"/>
        <activity android:name="com.example.adityanarayan.tollpay.LoginActivity"/>
        <activity android:name="com.example.adityanarayan.tollpay.RegisterActivity"/>
        <activity android:name="com.example.adityanarayan.tollpay.AddVehicle.VehicleDetails"/>
        <activity android:name="com.example.adityanarayan.tollpay.PaymentDetails"/>

    </application>

</manifest>